<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/estilo.css">
    <title>Document</title>
</head>
<body>
    <form action="/produto/{{produto[0]}}" method="POST">
    </div>
    <div class="grupo-cartoes">
   
    
        <div class="cartao">
          <img
            src="{{produto[2]}}"
            alt="Capa do Projeto"
            class="cover"
          />
          <div class="conteudo-cartao">
            <h3>{{produto[1]}}</h3>
            <h3>{{produto[3]}}</h3>
            <p>R$ {{produto[4]}}</p>
            <label for="pagamento">Escolha sua forma de pagamento</label>
            <select name="pagamento" id="pagamento">
                <option value="pix">Pix</option>
                <option value="cartao">Cartão</option>
            </select>
          </div>
        </div>
      

    </div>

        
            <div class="botoes button">
                <button type="submit">Comprar</button>
            </div>
        </div>
    </form>
    
</body>
</html>