<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/criar_produto">
        <label for="nome">Nome do produto</label>
        <input type="text" name= nome>
        <label for="preco">Preço do produto</label>
        <input type="text" name= preco>
        <label for="url">Url da Imagem</label>
        <input type="text" name= url>
        <button type="submit">Adicionar produto</button>
    </form>
</body>
</html>