<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/estilo.css">
    <title>Document</title>
</head>
<body>
  {% if adm[0] == 1 %}
  <a href="/adm">Admin</a>
  {% endif %}
  
    <div class="botoes">
        <a href="/cadastro">Não tenho uma conta</a>
        <a href="/login">Já tenho uma conta</a>
    </div>
    <div class="grupo-cartoes">
    {%for produto in produtos%}
    <a href="/produto/{{produto[0]}}">
        <div class="cartao">
          <img
            src="{{produto[2]}}"
            alt="Capa do Projeto"
            class="cover"
          />
          <div class="conteudo-cartao">
            <h3>{{produto[1]}}</h3>
            <p>R$ {{produto[4]}}</p>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
</body>
</html>